.skill-section {
  height: 550px;
  background-color: #0d012c;
  margin-top: -32px;
}
.skill-section h1 {
  text-align: center;
}
.skill-section P {
  color: aquamarine;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  letter-spacing: 3px;
  padding-top: 25px;
}

.skills-container {
  /* padding-right: 45px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 30px;
}
.font-end-part {
  width: 50%;
  background: rgb(14, 24, 61);
  border-radius: 2px;
  display: inline-block;
  height: 320px;
  margin: 1rem;
  position: relative;
  transition: transform 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.font-end-part:hover {
  transform: scale(1.03);
}
.font-end-part h4 {
  text-align: center;
  color: rgb(56, 190, 30);
  font-weight: bolder;
  font-size: 20px;
}
.back-end-part h4 {
  text-align: center;
  color: rgb(56, 190, 30);
  font-weight: bolder;
  font-size: 20px;
}
.back-end-part {
  width: 50%;
  background: rgb(14, 24, 61);
  border-radius: 2px;
  display: inline-block;
  height: 320px;
  margin: 1rem;
  position: relative;
  transition: transform 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.back-end-part:hover {
  transform: scale(1.03);
}
.skills-container:hover {
}

.skills-container li {
  list-style: none;
  font-weight: bolder;
  margin: 30px 10px;
  padding-right: 420px;
  position: relative;
  text-transform: uppercase;
  color: white;
  width: 50px;
}

.skills-container li::before {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  left: 0;

  width: 100%;
  height: 10px;
  background-color: rgba(69, 82, 148, 0.5);
  border-radius: 1000px;
}

.skills-container li::after {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  left: 0;

  width: 0;
  height: 10px;
  background-color: rgb(30, 30, 173);
  border-radius: 1000px;

  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.skills-container li.html::after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 90%;
  }
}

.skills-container li.css::after {
  animation-name: css;
}

@keyframes css {
  to {
    width: 80%;
  }
}

.skills-container li.bootstrap::after {
  animation-name: bs;
}

@keyframes bs {
  to {
    width: 85%;
  }
}

.skills-container li.js::after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 75%;
  }
}

.skills-container li.jquery::after {
  animation-name: jq;
}

@keyframes jq {
  to {
    width: 80%;
  }
}

.skills-container li.node::after {
  animation-name: node;
}

@keyframes node {
  to {
    width: 85%;
  }
}

.skills-container li.express::after {
  animation-name: express;
}

@keyframes express {
  to {
    width: 75%;
  }
}

.skills-container li.git::after {
  animation-name: github;
}

@keyframes github {
  to {
    width: 75%;
  }
}

.skills-container li.react::after {
  animation-name: react;
}

@keyframes react {
  to {
    width: 65%;
  }
}
